.feedButton {
width:7em;height:3em;
border-top: 1px solid #919191;
   background: #0e4724;
   color: #ffffff;
   font-size: 40px;
   }
.feedButton:hover {
border-top: 1px solid #919191;
   background: #0e4724;
   color: #ffffff;
   }
